# Default ignored files

AIS
Docs
blog
temp
Football
Autowiz.ipynb
Private_files

**/__pycache__
**/mongo_conn.py
**/db_conn.py
**/article_db_conn.py
**/.DS_Store
**/.ipynb_checkpoints

cs231n_study/datasets

Text_Mining/abcnews-date-text.csv

Topic_Modeling/electron
Topic_Modeling/colab_results
Topic_Modeling/mallet_top_sen.tsv
Topic_Modeling/titles_condition_by_t.tsv
Topic_Modeling/titles_condition_by_t_content_filter.tsv
Topic_Modeling/origin_text.tsv
Topic_Modeling/3d.png

